@charset "UTF-8";

@font-face {
    /*文章用フォント*/
    font-family: "MPLUS1p";
    src: url("../Font/MPLUS1p-Regular.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: MPLUS1p, serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    background-image: url("../img/hp_bg.webp");
    background-repeat: repeat-y;
}

h1 {
    text-align: center;
}

footer{
    text-align: center;
}

.graph {
    padding: 10px;
}

.label {
    padding: 0.5rem 2rem;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.checkcardList {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: flex-start;
    justify-self: auto;
}

@media screen and (max-width: 650px) {
    .checkcardList {
        padding: 0;
    }
}

.checkcard {
    border: solid 2px;
    border-radius: 10px;
    text-align: center;
    padding: 4px;
    margin: 0.5rem;
}

.text {
    display: contents;
    margin-left: 1em;
    cursor: pointer
}